.mysignin {    
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
}

.sticksy {
    margin: 0;
    height: min-content;
    width: 9rem;
    z-index: 999;
    border-image: none !important;
    &:hover {
        border-image: none !important;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 2vh;
    max-height: 2vh;
    min-height: 2vh;
}