.scoreboard {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 75%;
    height: 100%;
    max-height: 150px;
}

@import url("https://fonts.googleapis.com/css?family=Lato:300");
.gradient-border {
    --border-width: 3px;
    position: relative;
    border-radius: var(--border-width);
    text-transform: uppercase;
    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
    }
}
  
@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}