$logo-1: #2e93aa;
$logo-2: #ced6d9;

$linkform-1: rgba(240, 166, 17, 0);
$linkform-2: #333333;
$linkform-3: #00cdac;

$bounding: #149df2;

$navigation-1: #00cdac;
$navigation-2: #2e93aa;

$index-1: #2e93aa;
$index-2: #00cdac;

$modal-1: white;
$modal-2: white;

$white: white;
$black: black;