@import url("../../colors.css");

.Tilt {
    background: linear-gradient(89deg, var(--logo-1-color) 0%, var(--logo-2-color) 100%);
    backdrop-filter: blur(20px);
}

.mygrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: fit-content;
    height: fit-content;
    max-width: 150px;
    max-height: 150px;
}