.modal-big {
    background: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    position: fixed;
    z-index:9999;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 30%;
    padding: 3.2rem;
}

.modal-content {
    border: 2px solid black;
    border-radius: 20px;
    padding: 2em;
    height: 100%;
}

.modal-footer {
	justify-content: space-between;
    display: flex;
}

/* Call to Action Button */
.cta-btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
.cta-btn::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}
  
.cta-btn:hover {
    cursor: pointer;
}
  
.cta-btn--hero {
    border: 2px solid transparent;
    border-image: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
    border-image-slice: 1;
    color: #04C8DE !important;
}
.cta-btn--hero:hover {
    color: white !important;
}
  
.cta-btn--hero::after {
    background-image: linear-gradient(89deg, white 0%, white 100%);
}
  
.cta-btn--hero:hover {
    -webkit-text-fill-color: #FF5EDF;
    text-decoration: none;
}

.cta-btn--hero::after {
    width: 100%;
}