@import url("../../colors.css");

.modal-big {
    background: linear-gradient(89deg, var(--modal-1-color) 0%, var(--modal-2-color) 100%);
    backdrop-filter: blur(20px);
    text-align: left;
    border: 1px solid var(--black);
    border-radius: 3px;
    position: fixed;
    z-index:9999;
    padding: 0.5rem;
}

.modal-header {
    margin: 0.5rem 0rem;
    font-weight: bold;
    font-size: 1.8rem;
    height: 100% !important;
}

.modal-body {
    display: inline-table;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--navigation-2-color);
    text-shadow: 0 5px #d3d3d3;
    line-height: 1;
    align-self: center;
    block-size: auto;
    padding: 2rem 0rem;
    height: 10rem;
    width: 100%;
    text-align: -webkit-center;
}

.modal-footer {
	justify-content: space-between;
    display: flex;
    flex-flow: wrap;
}

/* Call to Action Button */
.cta-btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    backdrop-filter: blur(20px);
}
.cta-btn::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
  
.cta-btn:hover {
    cursor: pointer;
}
  
.cta-btn--hero {
    border: 2px solid transparent;
    border-image: linear-gradient(89deg, var(--navigation-1-color) 0%, var(--navigation-2-color) 100%);
    border-image-slice: 1;
    color: var(--navigation-2-color) !important;
    background-color: var(--white);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}
.cta-btn--hero:hover {
    -webkit-text-fill-color: var(--white);
    border: 2px solid transparent;
    border-image: linear-gradient(89deg, var(--white) 0%, var(--white) 100%);
    border-image-slice: 1;
    text-decoration: none;
    color: white !important;
    background: scroll;
}

.cta-btn--hero::after {    
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

@media screen and (max-width: 700px) and (min-width: 470px) {
    .cta-btn--modal {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 340px) {
    .cta-btn--modal {
        font-size: 0.5rem;
    }
}

.cta-btn--modal {
    background: var(--white);
    width: fit-content;
    text-align: center;
}

.cta-btn--modal:hover {
    background: linear-gradient(89deg, var(--navigation-1-color) 0%, var(--navigation-2-color) 100%);
    border-image: linear-gradient(89deg, var(--navigation-1-color) 0%, var(--navigation-2-color) 100%) !important;
    border-image-slice: 1;
}

.cta-btn--login {
    padding: 0.4rem 0.8rem;
}

.btn-register {
    font-weight: bold;
    line-height: 1;
    color: var(--white);
}

.btn-register:hover {
    color: var(--navigation-2-color);
    cursor: pointer;
}

.btn-register::after {
    color: var(--navigation-2-color);
    cursor: pointer;
}

.mysignin {    
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
}

.wrg-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
  
.wrg-toggle-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.wrg-toggle-check, .wrg-toggle-uncheck {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 0;
    transition: opacity .25s ease;
}

.wrg-toggle-check {
    left: 8px;
}

.wrg-toggle-uncheck {
    opacity: 1;
    right: 10px;
}

.wrg-toggle-uncheck span, .wrg-toggle-check span {
    align-items: center;
    display: flex;
    height: 10px;
    justify-content: center;
    position: relative;
    width: 10px;
}

.wrg-toggle-container{
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4d4d4d;
    transition: all .2s ease;
}

.wrg-toggle-circle{
    transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    background-color: #fafafa;
    box-sizing: border-box;
    transition: all .25s ease;
}

.wrg-toggle--checked .wrg-toggle-check{
    opacity: 1;
}

.wrg-toggle--checked .wrg-toggle-uncheck {
    opacity: 0;
}

.wrg-toggle--checked .wrg-toggle-circle {
    left: 27px;
}

.sticksy {
    margin: 0;
    height: min-content;
}

.profile-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-close {
    font-size: 3rem;
    font-style: bold;
    cursor: pointer;
  }
  
  .modal-close:hover {
      color: grey;
      cursor: pointer;
  }

  .modal-content {
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .modal-dialog {
      backdrop-filter: brightness(0.5) blur(10px);
  }