@import url("../../colors.css");

.modal-big {
    background: linear-gradient(89deg, var(--modal-1-color) 0%, var(--modal-2-color) 100%);
    text-align: left;
    border: 1px solid var(--black);
    border-radius: 3px;
    position: fixed;
    z-index:9999;
    top: 20%;
    left: 20%;
    right: 20%;
    padding: 0.5rem;
}

.modal-header {
    margin: 0.5rem 0rem;
    font-weight: bold;
    font-size: 1.8rem;
    height: 100% !important;
}

.modal-body {
    display: inline-table;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--navigation-2-color);
    text-shadow: 0 5px #d3d3d3;
    line-height: 1;
    align-self: center;
    block-size: auto;
    padding: 2rem 0rem;
    height: 10rem;
    width: 100%;
    text-align: -webkit-center;
}

.modal-footer {
	justify-content: space-between;
    display: flex;
    flex-flow: wrap;
}

/* Call to Action Button */
.cta-btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
}
.cta-btn::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
  
.cta-btn:hover {
    cursor: pointer;
}
  
.cta-btn--hero {
    border: 2px solid transparent;
    border-image: linear-gradient(89deg, var(--navigation-1-color) 0%, var(--navigation-2-color) 100%);
    border-image-slice: 1;
    color: var(--navigation-2-color) !important;
    background-color: var(--white);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}
.cta-btn--hero:hover {
    -webkit-text-fill-color: var(--white);
    border: 2px solid transparent;
    border-image: linear-gradient(89deg, var(--white) 0%, var(--white) 100%);
    border-image-slice: 1;
    text-decoration: none;
    color: white !important;
    background: scroll;
}

.cta-btn--hero::after {    
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

.ctn-btn--modal {
    width: 100px;
    text-align: center;
}

.ctn-btn--modal:hover {
    background: linear-gradient(89deg, var(--navigation-1-color) 0%, var(--navigation-2-color) 100%);
    border-image: linear-gradient(89deg, var(--navigation-1-color) 0%, var(--navigation-2-color) 100%);
    border-image-slice: 1;
}