.App {
    text-align: center;
    min-height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
}

.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.mycopyright {
    position: fixed;
    color: $white;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
    backdrop-filter: blur(20px);
}

.hero {
    display: flex;
    height: 96vh;
    min-height: 96vh;
    max-height: 96vh;
    align-items: center;
}