:root {
    --bounding-color: #149df2;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px var(--bounding-color) inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}